* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background: linear-gradient(270deg, rgb(228, 228, 97), pink, rgb(191, 140, 228), rgb(129, 224, 129));

}

img {
    cursor: pointer;
}

header {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    font-style: italic;
    font-family: sans-serif;
    /* color: black; */
    animation: head 2s linear infinite both;
}

@keyframes head {
    0% {
        color: orangered;
    }

    50% {
        color: crimson
    }

    100% {
        color: yellowgreen
    }
}

.fixed {
    text-align: center;
    font-weight: 700;
    font-size: 18px;

}

.container {
    height: 200px;
    width: 100vw;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.container>div {
    height: 200px;
    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding: 15px;
}

.container>div div {
    height: 200px;
    width: 180px;
    background-color: aquamarine;
    border-radius: 15%;
    cursor: pointer;

}

.box1 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJYlqf5QRhpwxjcpjBjxyq7HMd7oT24EDBnBwkFV2uFVxQIA-8fOHWvVTsNH7O99FFZs8&usqp=CAU");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.box2 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_h3p2KGIkGU1h175VcgUckBFxczyp7G_E9w&usqp=CAU");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



#main {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px dashed black;
    margin: 50px auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    animation: scale 1.5s both 2;

}

@keyframes scale {
    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.dragging {
    opacity: 0.5;
    border: 5px solid red;
}

.top {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-bottom: 50px;
}

.top div {
    height: 200px;
    width: 220px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 20px;

}

.top img {
    height: 70%;
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.top h3 {
    margin-top: 20px;
    text-align: center;
}

.chilly {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVVpdJ8BQ0HvJvjV_xqYp3QmGGYEa47AlyBw&usqp=CAU");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.paneer {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyhErEL5-NMiNC8V_ll056fDgygHPYqUHQAA&usqp=CAU");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.capsicum {
    background-image: url("https://images.unsplash.com/photo-1629740001727-f9ad15f720c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2Fwc2ljdW0lMjBwaXp6YXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*======================= media querry==========================  */

@media screen and (max-width:768px) and (min-width:481px) {

    body {
        background: linear-gradient(to left, #6aade9, #e9868c, #ffaf7b, #c33764);
    }

    .container {
        justify-content: space-evenly;
    }

    .top {

        flex-wrap: wrap;
        row-gap: 30px;
    }

    header {
        font-size: 32px;
    }

    h3 {
        font-size: 16px;
    }
}

/* ===========small screens==================== */
@media screen and (max-width:480px) {

    body {
        background: linear-gradient(270deg, rgb(228, 228, 97), pink, rgb(191, 140, 228), rgb(129, 224, 129));
    }

    .container {
        flex-direction: column;
        align-items: center;
        height: 500px;
    }

    .top {
        flex-wrap: wrap;
        row-gap: 30px;
    }

    header {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }
}